@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');

ul{
  list-style: none;
  padding: 0;
}

.App{
  color: #fff;
}

a{
  text-decoration: none;
  color: #fff;

}
/* ------------ Header styling ------------ */


/* Red Section with the logo styling  */
#logo-section {
  background-color: #B11226;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Navigation bars that appear on max-width media */
#nav-bars{
  padding: 0 40px;
  display: none;
  font-size: 24px;
  transition: all 500ms;
  cursor: pointer;
}

#nav-bars:hover {
  opacity: 0.7;
}

#logo{
  font-family: 'Ranchers', cursive;
  margin: 0;
  padding: 0 40px;
  text-transform: uppercase;
  transition: all 500ms;
  font-size: 24px;

}

#logo:hover {
  opacity: 0.7;
}


/* Header navigation list styling */

.App-header {
  position: relative;
}

.App-header nav{
  display: flex;
  align-items: center;
  justify-content: center;
}
.App-header ul{
  display: flex;
  flex-wrap: wrap;
}
.App-header ul li {
  transition: all 500ms;
  cursor: pointer;
}

.App-header ul li a {
  padding: 10px 30px;
  display: block;
  width: 100%;
}

.App-header ul li:hover {
  opacity: 0.5;
}

/* Navigation on smaller screens styling */

.smallNav {
  display: block !important;
  transition: all 500ms;
  
}

.smallNav ul {
  margin: 0;
  text-transform: uppercase;
  background-color: rgb(177,18,38, 0.5);
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 50px;
  right: 0;
}

.smallNav ul li {
  width: 100%;
  text-align: center;
}

.smallNav ul li a {
  width: 100%;
  height: 100%;
}

.smallNav ul li:hover{
  background-color: #fff !important;
  opacity: 1;
}

.smallNav ul li:hover a{
  color: rgb(177,18,38);

}


/*  --------- SEARCHBAR SECTIONS COMPONENTS STYLES START HERE -------------- */

#search-section {
  text-align: center;
  padding: 100px 0;
}


.search-bar{
  height: 35px;
  display: flex;
  justify-content: center;
}

.search-bar  > * {
  height: 100%;
  margin: 0 5px;
  padding: 15px;
  border-radius: 10px;
}

.search-bar input {
  width: 250px;
  border: none;
  transition: all 500ms;
}

.search-bar input:focus {
  outline: 4px solid #B11226;
}

.search-bar button {
  width: 50px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  cursor: pointer;
  transition: all 500ms;
}

.search-bar button:hover {
  opacity: 0.7;
}


/* ---------- SECTION NAME TYPE STYLING -------- */
#section-type-wrapper{
  width: 80%;
  margin: 0 auto;
}
#section-type-wrapper h3 {
  color: #B11226;
  display: flex;
}

#sep-line {
  border: 1px solid red;
  border-radius: 2px;
}


/* Pagination Buttons global styling */

.button-pager{
  margin: 20px 0;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-pager span {
  margin: 0 15px;
}

.button-pager div:hover {
  opacity: 0.5;
  cursor: pointer;
}


/* ---------- Footer styling ---------------*/
#footer-section {
  padding: 100px 0 30px 0;
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;

}

#footer-section ul {
  margin: 0;
}

#footer-section #footer-links .list-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

#footer-section #footer-links ul li a{
  transition: all 500ms;
  width: 100%;
  display: block;
  opacity: 0.7;
  padding: 5px 0;
}
#footer-section #footer-links ul li a:hover {
  opacity: 1;
}


#footer-section #footer-about p {
  color: #b91b30;
}

#footer-section #footer-about span {
  color: #fff;
  opacity: 0.7;
}



/* ----------- MEDIA QUERIES ------------ */

@media screen and (max-width: 710px){
  #nav-bars {
    display: block;
  }
  .App-header nav {
    display: none;
  }
}